table {
    border-collapse: separate;
    border-spacing: 0;
    margin: 20px;
  }

  td, th {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
  }
td.nth-child(odd) {
    background-color: #ffffff;
  }

tr:nth-child(even) {
    background-color: #f2f2f2;
  }