td{
	border:1px solid #ccc;
	border-radius:5px;
	padding:0,5rem;
}
th{
	border:1px solid #ccc;
	border-radius:5px;
	padding:0,5rem;
}
.even
{
	background-color:#ffffff;
}
.odd
{
	background-color:#f2f2f2;
}


