table {
  border-collapse: separate;
  border-spacing: 0;
  margin: 20px;
}

td, th {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
}

tr:nth-child(odd) td {
  background-color: #f2f2f2;
}

tr:nth-child(even) td {
  background-color: #ffffff;
}